<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/buyer-signup.css">
    <title>Next CUSTOMER</title>
</head>
<body>
<div class="container">

    <!-- Start body -->
    <div class="shopfront-div">
        <h1 class="shopfront-title">N E X T - S T O R E</h1>

        <!-- <span>THANK YOU FOR SHOPING AT</span> -->
        <!-- START BUYER LOGIN FORM -->
        <div class="buyer-login-form">
            <form action="" method="">
                <div class="sign-up">
                    <h1 class="sign-in">Create An Account</h1>
                </div>
                <div class="fname">
                    <input type="text" id="fname" required placeholder="First Name">
                </div>
                <div class="lname">
                    <input type="text" id="lname" required placeholder="Last Name">
                </div>
                <div class="email">
                    <input type="text" id="email" required placeholder="Email">
                </div>
                <div class="username">
                    <input type="text" id="username" required placeholder="Username">
                </div>
                <div class="password">
                    <input type="password" id="password" required placeholder="Password">
                </div>
                <div class="address">
                    <textarea name="address" id="address" class="text-area" cols="20" rows="4" placeholder="Address"></textarea>
                </div>
                <div class="btn-div">
                    <button class="submit-btn" type="submit"><a href="">Submit</a></button>
                </div>
            </form>

        </div>
        <!-- END SELLER LOGIN FORM -->
        <!-- <p>NEW CUSTOMER GETS 10% DISCOUNT</p> -->
        <div class="button-div">
            <button class="page-btn"><a href="marketplace.html">Market Place</a></button>
            <button class="page-btn"><a href="welcomepage.html">Home Page</a></button>
        </div>
    </div>
    <!-- End body -->

</div>

</body>
</html>