<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/buyer-signup.css">
    <title>Buyer Page</title>
</head>
<body>
    <div class="container-buyer">
        <h1 class="buyer-title">BUYER'S CART</h1>
        <div class="child-container">
            <div class="buyer-cart">VIEW PRODUCT</div>
            <div class="buyer-functions">
                <!-- Start seller operation -->
                <div class="second-child-container">
                    <h2>BUYER'S OPERATIONS</h2>
                    <div><a href="" class="thebutton edit-product">Return Product</a></div>
                    <div><a href="" class="thebutton delete-product">Remove From Cart</a></div>
                    <div><a href="" class="thebutton edit-product">Pay Now</a></div>
                    <!-- Start seller operation -->
                                    <div class="buyer-gohome">
                                    <button class="btn"><a href="/marketplace">Market Place</a></button>
                                    <button class="btn"><a href="/">Home Page</a></button>
                                    </div>



                </div>

            </div>
            
        </div>
       
        
    </div>
    
    
</body>
</html>