<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/welcomepage.css">
    <title>{{ .title}}</title>
</head>
<body>


<div class="container">
    <!-- Start Navigation -->
    <div class="welcome-body">
        <nav class="navigation">
            <ul>
                <li><a href="sellersignup" class="seller-sign-in">Seller Sign In</a> </li>
                <li><a href="/buyerssignup" class="buyer-sign-in">Buyer Sign up</a></li>
                <li><a href="/marketplace">Market Place</a></li>
            </ul>
        </nav>
        <!-- End Navigation -->

        <!-- Start body -->
        <div class="shopfront-div">
            <h1 class="shopfront-title"><span>N E X T</span> - S T O R E </h1>
            <p>Purchasing male outfit at the snap of a finger.....</p>
            <p>Purchasing male outfit at the snap of a finger.....</p>
            <p>NEW CUSTOMER GETS 10% DISCOUNT</p>
            <button><a href="/marketplace">Shop Now!</a></button>
        </div>
        <!-- End body -->
    </div>



    <div class="footer"></div>
</div>

</body>
</html>