<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/seller-signup.css">
    <title>Next SELLER</title>
</head>
<body>
    <div class="container">
        
          <!-- Start body -->
          <div class="shopfront-div">
            <!-- START SELLER LOGIN FORM -->
            <h3>SELLER LOGIN ACCOUNT</h3>
              <div class="seller-login-form">
                  <form action="" class="form-box">
                    <div class="email">
                      <input type="text" id="email" required placeholder="Email">
                  </div>
                  <div class="password">
                    <input type="password" id="password" required placeholder="Password">
                </div>
                <div class="btn-div">
                  <button class="continue-btn">GO TO PAGE</button>
                </div>
                
                  </form>
              </div>
              <!-- END SELLER LOGIN FORM -->

              <!-- <p>NEW CUSTOMER GETS 10% DISCOUNT</p> -->
              <div class="button-div">
                <button class="page-btn"><a href="/marketplace">Market Place</a></button>
                <button class="page-btn"><a href="/">Home Page</a></button>
              </div>
          </div>
          <!-- End body -->
        </div>
    
</body>
</html>